<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="db.properties"></properties>
<environments default="chen"><!-- 总环境命名 -->
<environment id="chen"><!--  -->
<transactionManager type="JDBC"></transactionManager><!-- 构建模式为jdbc -->
<dataSource type="POOLED"><!-- 连接池 -->
<property name="driver" value="${driver}"/>
<property name="url" value="${url}"/>
<property name="username" value="${username}"/>
<property name="password" value="${password}"/>
</dataSource>
</environment>
</environments>
<mappers>
<mapper resource="com/cjf/mapper/MyBatis.xml"/>
</mappers>
</configuration>